## Do not user quote
ENV=development
PORT=:3000
DB_URL=postgres://postgres:password@localhost:5433/backend_db?sslmode=disable
COOKIE_SECRET=Rm57qySVRliOZg5WqJ5GyKHKY6f4sJ41
CSRF_SECRET=4eQWYCt7WjxLwPmL06MhOW5FS96wxOk6
JWT_SECRET=4eQWYCt7WjxLwPmL06MhOW5FS96wxOk6
UPLOAD_DIR=../../uploads
HOSTNAME=http://localhost:3000
PASS_SECRET=4eQWYCt7WjxLwPmL06MhOW5FS96wxOk6